.container {
	color: white;
}
input[type='text'] {
	border: 0.85px;
	margin: 2px;
	padding: 12px;
	box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.06);
}
.rounded-input {
	border-radius: 10px;
}

p1 {
	color:darkred;
	font-size: 18px;
}
