.App {
	text-align: center;
	min-height: 90vh;
	height: 100%;
	background: url('/Users/byronsogie-thomas/bst-git/venti-bed/src/Components/Beds/frederic-koberl-CjgwW0VR3d0-unsplash (1).jpg')
		no-repeat center center fixed;
}

p {
	font-size: x-large;
	color: white;
	text-align: center;
}
