.App {
	background: url('/Users/byronsogie-thomas/bst-git/venti-bed/src/ante-samarzija-F7m3QZJ_4mg-unsplash.jpg')
	no-repeat center center fixed;
	height: 100%;
	min-height: 90vh;
	text-align: center;
	color: red;

}

#sheets {
	font-size: x-large;
	color:black;
	text-align: center;
}

#special {
	color: red;
}